body {
  background: url("./img/background.jpg");
  width: 100vw;
  height: 100svh;
  padding: 40px 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}